/*
	Theme Name: Template
	Description: Responsive Theme
	Author: Digital Tides
	Version: 2.0.0
*/

body{
	font-family: franklin-gothic-urw, sans-serif;
	font-style: normal;
	font-weight: 400;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* ---------------------------------------
	        	HOME PAGE
-----------------------------------------*/
.main-content{
    text-align: center;
}

.gray{
	background-color: #555;
    color: #fff;
    padding: 4em 2em;
    text-align: center;
}

.black{
	background-color: black;
    color: #fff;
    padding: 4em 2em;
    text-align:center;
}

.service-images{
    width: 100%;
    max-width: 325px;
}
.service-content-home-container {
	display: block;
	padding-bottom: 50%;
}
.service-content-home-container:hover {
	text-decoration: none;
	color: #eee;
}
.service-content-home {
	background: rgba(0,0,0,0.8);
    padding: 5px 20px;
	color: #fff;
	text-align: left;
}
.service-content-home-container:hover .service-content-home {
	background: rgba(0,0,0,0.8);
    color: #aaa;
}

.content-width{
    max-width: 1000px;
    margin: auto;
}

.featured-section-title{
	text-align:left;
	margin-bottom: 35px;
	text-transform: uppercase;
}
.brands-section-title{
		text-align:left;
	margin-bottom: 35px;
	text-transform: uppercase;
	color: black;
	margin-left: 20px;
}
.brands-section{
	margin-bottom: 20px;
}
.brand-img{
	max-height: 80px;
	width: auto;
}

.service-section{
    width: 100%;
    max-width: 325px;
    margin: auto;
    background-color: black;
}

.service-section {
    text-align:left;
	padding: 15px 0px 15px 15px;
}

.service-section > p > a{
    color:#fff;
	text-decoration: none;
}


.service-section > p > a:hover{
    color:#555;
    text-decoration: none;
    cursor:pointer;
}

/*---------------------------------------
                  Banner
 --------------------------------------*/
.banner {
  height: 70vh;
}
.page-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5em;
	color: #fff;
}
.page-banner {
	height: 40vh;
}
.page-banner>p {
	line-height: normal;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
    margin: 0;
}
@media screen and (max-width: 767px) {
  .banner {
    height: 30vh
  }
}


/* ---------------------------------------
	        	SERVICES
-----------------------------------------*/
.service-content {
	display: none;
}
.service-show {
	display: block !important;
}

/* ---------------------------------------
	        	GALLERY
-----------------------------------------*/
.gallery-image {
	width: 100%;
}

/* ---------------------------------------
	        	CONTACT
-----------------------------------------*/
.contact-map>iframe {
	width: 100%;
}
.contact-form {
	padding: 4em 0 0 0;
}
.wpcf7-form-control {
	padding: 10px;
	border: 1px solid #555;
	background: #fff;
	width: 100%;
	margin: 5px 0;
	color: #555;
	border-radius: 5px;
}
.wpcf7-submit:hover {
	background-color: #333;
	color: #fff;
}

/* ---------------------------------------
	        	FOOTER
-----------------------------------------*/
.content-footer{
	background-color: black;
	color: white;
}

.row-footer{
    padding: 3em 2em 1.5em 2em;
}

.footer-row-content-desktop{
	font-size: 12px;
}

.footer-row-content-desktop > * > ul > li {
	list-style-type: none;
	text-align:left;
	color: white;
}

.footer-row-content-desktop > * > ul > li > a {
	list-style-type: none;
	text-align:left;
	color: white;
}

.footer-row-content-desktop > * > ul > li > a:hover {
	list-style-type: none;
	text-align:left;
	color: #555;
	text-decoration: none;
	cursor:pointer;
}

.footer-row-content-desktop > * > ul{
	padding-left: 0px;
}

.footer-row-content-mobile{
	font-size: 12px;
}

.footer-row-content-mobile > * > ul > li {
	list-style-type: none;
	text-align:left;
	color: white;
}

.footer-row-content-mobile > * > ul > li > a {
	list-style-type: none;
	text-align:left;
	color: white;
}

.footer-row-content-mobile > * > ul > li > a:hover {
	list-style-type: none;
	text-align:left;
	color: #555;
	text-decoration: none;
	cursor:pointer;
}

.footer-row-content-mobile > * > ul{
	padding-left: 0px;
}

.footer-mobile-nav{
	text-align: center;
	padding-top: 20px;
}

.footer-mobile-nav >ul > li:not(:first-child):before {
    content: " | ";
}

.footer-mobile-nav > ul{
	display:inline;
	padding: 0;
}

.footer-mobile-nav > ul > li{
	display:inline-block;
	list-style-type: none;
	color: white;
}

.footer-mobile-nav > ul > li > a{
	display:inline-block;
	list-style-type: none;
	color: white;
}

.footer-mobile-nav > ul > li > a:hover{
	list-style-type: none;
	color: #555;
	text-decoration: none;
	cursor:pointer;
}

.footer-enter-email{
	background-color:transparent;
	color:#fff;
	border-radius:5px;
	text-align: center;
	margin: 5px 0px;
	border: 2px solid #fff;
}

.footer-subscribe-btn{
	background-color:#fff;
	color:black;
	border-radius:5px;
	margin: 5px 0px;
	border: 2px solid #fff;
}

.textwidget ul {
	list-style: none;
	padding-left: 5px;
}

.textwidget ul > li > a{
	color: white;
}
.textwidget ul > li > a:hover{
	text-decoration: none;
}



@media only screen and (min-width: 767px) {
}

@media only screen and (max-width: 767px) {
	.footer-categories{
		display:none;
	}

	.footer-services{
		display:none;
	}

	.footer-resources{
		display:none;
	}

	.footer-newsletter{
		display:none;
	}

	.footer-contact-us{
		max-width: 300px;
    	margin: auto;
	}
}

.row-branding{
	text-align: center;
    padding-top: 40px;
    font-size: 12px;
}

.row-branding > *{
	display: inline-block;
    text-align: center;
}

.row-branding > * > p{
	margin: 0;
}

.row-branding > * > p > a{
	margin: 0;
	list-style-type: none;
	color: white;
}

.row-branding > * > p > a:hover{
	color: #555;
	text-decoration: none;
	cursor:pointer;
}

