/* ---------------------------------------
	       	Parts Search
-----------------------------------------*/
.parts-search-container {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    position: absolute;
    width: 100%;
    top: 80%;
}
.mobile-search{
	display: none;
}
.mobile-content{
	display: none;
}
.mobile-search > p{
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	font-size: 1em;
	font-weight: bold
}
.mobile-content-show{
	display: flex !important;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 10000;
	max-width: 100vw;
}
@media(max-width: 750px){
.parts-search-container {
  display: none !important;
    justify-content: center;
    align-content: flex-end;
    position: relative;
}
.parts-search{
	max-height: 50%;
	margin: auto;
}
	.mobile-search{
		display: flex !important;
		background-color: white;
		color: #555;
		padding: 0;
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		
	}
.parts-search>.form{
  flex-direction: column !important;
}
.parts-search>.form>select {
  margin-bottom: 15px;
}
}
.parts-search {
padding: 20px;
    padding-top: 10px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    min-width: 50%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.4);
	
}
.parts-search>.form {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}
.parts-search>h2{
	color: #fff;
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
}
.parts-search>.form>select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 5px;
    border: 1px solid #777;
    background: #fff;
    color: #000;
	height: 40px;
	width: 100%;
	margin-right: 2%;
	min-width: 100px;
}
.parts-search>.form>select {
  background-color: white;
  color: #000;
  
}
.parts-search>.form>input[type="submit"] {
	width: 120px;
	height: 40px;
	background: #fff;
    color: #000;
	border: 1px solid #777;
	min-width: 100px;
	width: 100%;
}


/* ---------------------------------------
	       	Header
-----------------------------------------*/
.nav-brand>a>img {
  height: 100%;
  width: auto;
}
.page-title {
	padding: 20px;
	color: #000;
  font-size: 30px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}
.service-content-home>p {
	margin: 0;
  font-size: 15px;
  padding-bottom: 5px;
}
.service-content-home > h4 {
  margin-bottom: 0;
	font-size: 24px;
}
.service-home-cta {
	padding: 15px;
}
img {
	width: 100%;
	height: auto;
}
.content-fade {
	opacity: 0;
}
.featured-products>.woocommerce>.products {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.featured-products>.woocommerce>.products>.product {
	width: 33% !important;
  padding: 10px;
}
.featured-products .woocommerce ul.products li.product a img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
}
.featured-products .woocommerce ul.products li.product a h2 {
      font-family: franklin-gothic-urw, sans-serif;
    text-align: center;
    font-weight: 700;
   color: white !important;
}
.featured-products .woocommerce ul.products li.product a {
   color: white !important;
}
.featured-products .woocommerce ul.products li.product a .price {
    color: white;
    font-family: franklin-gothic-urw, sans-serif;
    font-style: italic;
    font-weight: 400;
}
.featured-products .woocommerce ul.products li.product a.button {
    background-color: transparent;
    color: white;
    border: 2px white solid;
}
.featured-products .woocommerce ul.products li.product a.button:hover {
    background-color: white;
    color:#555;
    border: 2px white solid;
    transition: ease 1s;
}
.woocommerce .woocommerce-ordering select {
	color: #333;
}
/*******************************************
                  Meet The Team
*******************************************/
.section-title {
    font-size: 28px;
    margin-bottom: 40px;
    color: white;
  }
  .social-link {
    background-color: #fff;
    border-radius: .2em;
    color: #000;
    font-size: 42px;
    line-height: normal;
	display: block;
  }
.social-link:hover {
	text-decoration: none;
	color: #000;
}
  .team-member {
    text-align: left;
    padding: 15px;
    color: white;
  }
  .team-member>p{
    color: White;
  }
  .team-member>img {
    width: 100%;
  }
  .team-member > h3{
    font-family: franklin-gothic-urw, sans-serif;
    text-align: left;
    font-weight: 700;
  }

/* Mobile first layout SmartMenus Core CSS (it's not recommended editing these rules)
   You need this once per page no matter how many menu trees or different themes you use.
-------------------------------------------------------------------------------------------*/

.sm{position:relative;z-index:9999;}
.sm,.sm ul,.sm li{display:block;list-style:none;margin:0;padding:0;line-height:normal;direction:ltr;text-align:left;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.sm-rtl,.sm-rtl ul,.sm-rtl li{direction:rtl;text-align:right;}
.sm>li>h1,.sm>li>h2,.sm>li>h3,.sm>li>h4,.sm>li>h5,.sm>li>h6{margin:0;padding:0;}
.sm ul{display:none;}
.sm li,.sm a{position:relative;}
.sm a{display:block;}
.sm a.disabled{cursor:not-allowed;}
.sm:after{content:"\00a0";display:block;height:0;font:0px/0 serif;clear:both;visibility:hidden;overflow:hidden;}
.sm,.sm *,.sm *:before,.sm *:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

.sm-clean {
  background: #eeeeee;
}
.sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active {
  padding: 13px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 58px;
  color: #555555;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
.sm-clean a.current {
  color: #ffd400;
}
.sm-clean a.disabled {
  color: #bbbbbb;
}
.sm-clean a span.sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 16px/34px monospace !important;
  text-align: center;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.sm-clean a.highlighted span.sub-arrow:before {
  display: block;
  content: '-';
}
.sm-clean > li:first-child > a, .sm-clean > li:first-child > :not(ul) a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.sm-clean > li:last-child > a, .sm-clean > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.sm-clean > li:last-child > a.highlighted, .sm-clean > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted,
.sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-clean > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.sm-clean li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.sm-clean > li:first-child {
  border-top: 0;
}
.sm-clean ul {
  background: rgba(162, 162, 162, 0.1);
}
.sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active {
  font-size: 16px;
  border-left: 8px solid transparent;
}
.sm-clean ul ul a,
.sm-clean ul ul a:hover,
.sm-clean ul ul a:focus,
.sm-clean ul ul a:active {
  border-left: 16px solid transparent;
}
.sm-clean ul ul ul a,
.sm-clean ul ul ul a:hover,
.sm-clean ul ul ul a:focus,
.sm-clean ul ul ul a:active {
  border-left: 24px solid transparent;
}
.sm-clean ul ul ul ul a,
.sm-clean ul ul ul ul a:hover,
.sm-clean ul ul ul ul a:focus,
.sm-clean ul ul ul ul a:active {
  border-left: 32px solid transparent;
}
.sm-clean ul ul ul ul ul a,
.sm-clean ul ul ul ul ul a:hover,
.sm-clean ul ul ul ul ul a:focus,
.sm-clean ul ul ul ul ul a:active {
  border-left: 40px solid transparent;
}

@media (min-width: 768px) {
  /* Switch to desktop layout
  -----------------------------------------------
     These transform the menu tree from
     collapsible to desktop (navbar + dropdowns)
  -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-clean ul {
    position: absolute;
    width: 12em;
  }

  .sm-clean li {
    float: left;
  }

  .sm-clean.sm-rtl li {
    float: right;
  }

  .sm-clean ul li, .sm-clean.sm-rtl ul li, .sm-clean.sm-vertical li {
    float: none;
  }

  .sm-clean a {
    white-space: nowrap;
  }

  .sm-clean ul a, .sm-clean.sm-vertical a {
    white-space: normal;
  }

  .sm-clean .sm-nowrap > li > a, .sm-clean .sm-nowrap > li > :not(ul) a {
    white-space: nowrap;
  }

  /* ...end */

  @media screen and (min-width: 767px) {
    .sm-clean {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .main-nav {
      position: relative;
    }
  }
  .sm-clean {
    padding: 0 10px;
    background: transparent;
  }
  .sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active, .sm-clean a.highlighted {
    padding: 12px 12px;
    color: #fff;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
  }
  .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active, .sm-clean a.highlighted {
    color: #ffd400;
  }
  .sm-clean a.current {
    color: #ffd400;
  }
  .sm-clean a.disabled {
    color: #bbbbbb;
  }
  .sm-clean a.has-submenu {
    padding-right: 24px;
  }
  .sm-clean a span.sub-arrow {
    top: 50%;
    margin-top: -2px;
    right: 12px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  .sm-clean a.highlighted span.sub-arrow:before {
    display: none;
  }
  .sm-clean li {
    border-top: 0;
  }
  .sm-clean > li > ul:before,
  .sm-clean > li > ul:after {
    content: '';
    position: absolute;
    top: -18px;
    left: 30px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 9px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent rgba(0,0,0, 0.8) transparent;
  }
  .sm-clean > li > ul:after {
    top: -16px;
    left: 31px;
    border-width: 8px;
    border-color: transparent transparent rgba(0,0,0, 0.8) transparent;
  }
  .sm-clean ul {
    border: 1px solid #000;
    padding: 5px 0;
    background: rgba(0,0,0, 0.8);
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  }
  .sm-clean ul a, .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
    border: 0 !important;
    padding: 10px 20px;
    color: #fff;
  }
  .sm-clean ul a:hover, .sm-clean ul a:focus, .sm-clean ul a:active, .sm-clean ul a.highlighted {
    background: transparent;
    color: #ffd400;
  }
  .sm-clean ul a.current {
    color: #ffd400;
  }
  .sm-clean ul a.disabled {
    background: white;
    color: #cccccc;
  }
  .sm-clean ul a.has-submenu {
    padding-right: 20px;
  }
  .sm-clean ul a span.sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }
  .sm-clean span.scroll-up,
  .sm-clean span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: white;
    height: 20px;
  }
  .sm-clean span.scroll-up:hover,
  .sm-clean span.scroll-down:hover {
    background: #eeeeee;
  }
  .sm-clean span.scroll-up:hover span.scroll-up-arrow, .sm-clean span.scroll-up:hover span.scroll-down-arrow {
    border-color: transparent transparent #ffd400 transparent;
  }
  .sm-clean span.scroll-down:hover span.scroll-down-arrow {
    border-color: #ffd400 transparent transparent transparent;
  }
  .sm-clean span.scroll-up-arrow, .sm-clean span.scroll-down-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 6px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent;
  }
  .sm-clean span.scroll-down-arrow {
    top: 8px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent;
  }
  .sm-clean.sm-rtl a.has-submenu {
    padding-right: 12px;
    padding-left: 24px;
  }
  .sm-clean.sm-rtl a span.sub-arrow {
    right: auto;
    left: 12px;
  }
  .sm-clean.sm-rtl.sm-vertical a.has-submenu {
    padding: 10px 20px;
  }
  .sm-clean.sm-rtl.sm-vertical a span.sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }
  .sm-clean.sm-rtl > li > ul:before {
    left: auto;
    right: 30px;
  }
  .sm-clean.sm-rtl > li > ul:after {
    left: auto;
    right: 31px;
  }
  .sm-clean.sm-rtl ul a.has-submenu {
    padding: 10px 20px !important;
  }
  .sm-clean.sm-rtl ul a span.sub-arrow {
    right: auto;
    left: 8px;
    border-style: dashed solid dashed dashed;
    border-color: transparent #555555 transparent transparent;
  }
  .sm-clean.sm-vertical {
    padding: 10px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  .sm-clean.sm-vertical a {
    padding: 10px 20px;
  }
  .sm-clean.sm-vertical a:hover, .sm-clean.sm-vertical a:focus, .sm-clean.sm-vertical a:active, .sm-clean.sm-vertical a.highlighted {
    background: white;
  }
  .sm-clean.sm-vertical a.disabled {
    background: #eeeeee;
  }
  .sm-clean.sm-vertical a span.sub-arrow {
    right: 8px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent #555555;
  }
  .sm-clean.sm-vertical > li > ul:before,
  .sm-clean.sm-vertical > li > ul:after {
    display: none;
  }
  .sm-clean.sm-vertical ul a {
    padding: 10px 20px;
  }
  .sm-clean.sm-vertical ul a:hover, .sm-clean.sm-vertical ul a:focus, .sm-clean.sm-vertical ul a:active, .sm-clean.sm-vertical ul a.highlighted {
    background: #eeeeee;
  }
  .sm-clean.sm-vertical ul a.disabled {
    background: white;
  }
}
.main-nav {
  background: #000;
  min-height: 6vh;
}

.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}

.nav-brand {
  float: left;
  margin: 0;
  
}

.nav-brand a {
  display: block;
  padding: 0px;
  color: #555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
  color: #fff;
  height: 5.5vh;
}

  @media screen and (min-width: 767px) {
    .nav-brand>a {
      height: 100px;
	  padding: 12px 12px 12px 20px;
    }
  }

#main-menu {
  clear: both;
}

@media (min-width: 768px) {
  #main-menu {
    float: right;
    clear: none;
  }
}


/* Mobile menu toggle button */

.main-menu-btn {
  float: right;
  margin: 6px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background:white;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 768px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	color: #333;
    background-color: transparent;
}

.dropdown-menu>.active>a:hover {
	color: #333;
    background-color: #eee;
}

/* IGNORE: Unrelated generic demo styles */

body {
  background: #fff;
  color: #aaa;
  font: 16px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.demo-text {
  margin: 3em 22px;
}

.demo-text p {
  margin-bottom: 1em;
}

.demo-text a {
  color: #999;
}


.woocommerce-products-header{
  display: none;
}
.woocommerce-result-count{
      display: inline-flex;
    margin-right: auto;
    text-align: left;

}
.woocommerce-ordering{
      display: inline-flex;
    margin-left: auto;
    float: right;
}

.content-area{
  margin-top: 20px;
}
ul.products{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 40px;
}
li.product{
  text-align: center;
  padding-top: 20px;
  width: 25%
}
@media (max-width: 1000px) { 
  li.product{
    text-align: center;
    padding-top: 20px;
    width: 100%
  }
  #sidebar-primary .collapse{
    display: none;
  }
  .mob-title{
    display: block !important;
    color: white;
    margin: 0;
    padding: 0;
    font-family: franklin-gothic-urw, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
  }
  #sidebar-primary{
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: 0!important;
  }
}
li.product a{
  text-align: center;
  color: #555;
  font-family: franklin-gothic-urw, sans-serif;
	font-style: normal;
	font-weight: 400;
}
li.product a .price {
    font-family: franklin-gothic-urw, sans-serif;
	font-style: italic;
  font-weight: 400;
  text-align: center;
}
li.product a:hover{
  text-decoration: none;
}
li.product a img{
  width: 80%;
}
.add_to_cart_button {
  display: block;
   width: 40%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #555;
    text-align: center;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}
.add_to_cart_button:hover{
  background-color: #555;
  color: white;
  transition: ease 1s;
}

#sidebar-primary{
  background-color: #555;
  padding: 10px 30px;
  border-radius: 30px;
  min-height: 50vh;
  max-width: 300px;
  min-width: 250px;
}
.collapse{
  display: block;
}
#sidebar-primary .widget-title{
  color: white;
  font-family: franklin-gothic-urw, sans-serif;
	font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
}
ul.product-categories{
  list-style: none;
  margin-left: 0;
  padding-left: 10px;
  border-top: 1px solid #aaa;
  width: 100%;
  margin-top: 10px;
}
ul.product-categories li a{
  color: white;
  font-family: franklin-gothic-urw, sans-serif;
	font-style: normal;
  font-weight: 200;
}

.berocket_aapf_widget li.slider span.left input, .berocket_aapf_widget li.slider span.right input {
    border: none !important;
    font-size: 13px;
    font-style: italic;
    /* padding: 4px 9px; */
    text-align: right;
    width: 85% !important;
    background: transparent !important;
    line-height: 1.1em;
    margin-top: 10px;
}
.berocket_aapf_widget li.slider span.left input {
text-align: left !important;
}
ul.berocket_aapf_widget {
    border-top: 1px solid #aaa;
  width: 100%;
  margin-top: 10px;
}

.berocket_aapf_widget li.slider span.left::after {
  content: '  -  ';
  display: inline
}
.berocket_filter_slider.ui-widget-content .ui-slider-range, .berocket_filter_price_slider.ui-widget-content .ui-slider-range {
    background: none repeat scroll 0 0 red !important;
}
i-widget-content .ui-slider-handle, .berocket_filter_price_slider.ui-widget-content .ui-slider-handle {
    background-image: none !important;
    width: 1.2em;
    height: 1.2em;
    border: 0;
    top: -4px;
    font-size: inherit;
    border-radius: 100% !important;
    background-color: red !important;
}

ul.product-categories li.cat-parent::before{
  content: '+   '
}
ul.children{
  list-style: none;
  padding-left: 10px;
  margin-left: 0;
  display: none;
}
ul.children li::before {
  content: '-  '
}
ul.open{
  display: static;
}
.mob-title{
  display: none;
}
ul.berocket_aapf_widget{
  margin-right: 0 !important;
  padding: 0;
}
.product_title {
	padding: 20px;
	color: #000;
  font-size: 30px;
    font-family: franklin-gothic-urw, sans-serif;

  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 10px;
}
p.price{
    /* padding: 20px; */
    color: #000;
      font-family: franklin-gothic-urw, sans-serif;

    font-size: 30px;
    text-align: left;
    font-weight: 300;
    /* text-transform: uppercase; */
    font-style: italic;
    padding-left: 20px;
}
.entry-summary{
  color: #555;
}
p{
  font-family: franklin-gothic-urw, sans-serif;
}

.quantity{
  text-align:center
}
.quantity .screen-reader-text {
    clip: rect(1px,1px,1px,1px);
    height: auto;
    overflow: hidden;
    position: relative!important;
    width: auto;
    line-height: 100%;
    vertical-align: center;
    margin: 0;
    word-wrap: normal!important;
            font-family: franklin-gothic-urw, sans-serif;
  font-weight: 300;
  color: #555;
}
.quantity .screen-reader-text::after{
  content: ":"
}
.qty{
    width: 40px;
    border: 1px solid #555;
    border-radius: 5px;
    color: #555;
    height: 40px;
    padding-left: 5px;
}

.single_add_to_cart_button{
    box-shadow: none;
    /* background: none; */
    border: 1px solid #555;
    color: #555;
    padding: 5px 20px;
    border-radius: 10px;
    width: 40%;
  height: 50px;
}
.cart{
  display: flex;
  flex-direction: row;
    border-top: 1px solid #aaa;
      padding-top: 20px;

  align-items: center;
  justify-content: space-between
}
.single_add_to_cart_button:hover {
    background-color: #555;
    color: white;
    transition: ease 1s;
}

.related h2{
  	padding: 20px;
	color: #000;
  font-size: 30px;
    font-family: franklin-gothic-urw, sans-serif;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 10px;
}
h2.woocommerce-loop-product__title{
    color: #555;
  font-family: franklin-gothic-urw, sans-serif;
	font-style: normal;
  font-weight: 200;
    text-transform: capitalize;
    text-align:center;

}

.woocommerce-cart-form .cart{
  display: table;
  color: #555;
}

.product-quantity .quantity label{
  display: none;
}
th.product-thumbnail{
  width: 25%;
}
th.product-name {
  width: 100%;
}
.product-name a {
  color: #555;
}

.cart_totals h2{
	color: #000;
  font-size: 22px;
    font-family: franklin-gothic-urw, sans-serif;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 10px;
}
.cart_totals{
  color: #555;
}

.cart-subtotal{
    font-family: franklin-gothic-urw, sans-serif;
  font-weight: 300;
}

.checkout-button{
  color: white;
  background-color: #555 !important;
}
.checkout-button:hover{
  color: #555;
  background-color: transparent;
  border: 1px solid #555;
  transition: 1s ease;
}
.woocommerce{
  margin-bottom: 20px;
}

#coupon_code{

    margin-right: 10px;
    height: 40px;
    width: 48%;
}

.coupon .button {
  height: 40px;
}
select.orderby{
    background-color: white;
    color: #555;
    border: 1px solid #555;
    width: 161px;
}

.text-white>p{
  color: white !important;
}

#post-123 p{
  font-family: franklin-gothic-urw, sans-serif;
  font-weight: 300;
  margin-left: 15px;
}
#post-123 h4{
      font-family: franklin-gothic-urw, sans-serif;
  font-weight: 600;
  margin-left: 10px;
}
#post-123 h1{
  display: none;
}

@media(min-width: 750px){
  .item{
  height: 85vh;
}
}


.top-header{
margin-left: auto !important;
text-align: right;
padding-right: 16px;
padding-top: 8px;
display: flex;
flex-direction: row;
justify-content: flex-end;
align-content: center;
}
.top-header a{
  color: white;
  padding-top: 11px;
}
.top-header .woocommerce-product-search{
  padding-right: 40px;
}
.top-header .search-field{
  	background-color:transparent;
	color:#fff;
	border-radius:5px;
	text-align: center;
	margin: 5px 0px;
	border: 2px solid #fff;
}

.top-header button {
  background-color: #fff;
color: black;
border-radius: 5px;
margin: 5px 0px;
border: 2px solid #fff;
}

@media(max-width: 750px){
  .top-header{
    display: none;
  }
}

.feat-prod-cont{
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        font-family: franklin-gothic-urw, sans-serif;
    text-align: center;
    font-weight: 700;
}
.feat-prod-cont:hover{
  text-decoration: none;
}
.feat-prod-cont > h2{
  font-size: 1.5em;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
}

.feat-prod-cont > p{
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: white;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}
.feat-button {
    background-color: transparent;
    color: white;
    border: 2px white solid;
    padding: 6px 19px;

}
.feat-button:hover {
    background-color: white;
    color:#555;
    border: 2px white solid;
    transition: ease 1s;
    text-decoration: none;
}
.slick-list{
      overflow-y: visible !important;
}
.slick-slider, .slick-list, .slick-track {
  height: 100%;
}
.footer-widget-title{
  margin: 0;
  padding: 0;
}
.social-icons{
  color: white;
  align-self: center;
  justify-self: center;
  font-size: 2.5em;
  margin-right: 20px;
}
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
    border-color: #69bf29;
    color: #69bf29;
    border-style: solid;
    border-radius: 4px;
}

#customer_details{
  background-color: white;
  color: #555;
  text-align: left;
  padding: 10px 10px;
  border-radius: 3px;
}
#customer_details input{
  border-radius: 4px;
  border-style: solid;
  border: 1px solid #555;
  padding: 6px;
}
#order_review_heading{
  text-transform: uppercase;
  text-align:left;
        font-family: franklin-gothic-urw, sans-serif;
    text-align: center;
    font-weight: 700;
}
th.product-name{
  width: 50%;
}
.woocommerce table.shop_table {
    background-color:white;
    color: #555;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: right;
    background-color: #555;
      text-transform: uppercase;

          font-family: franklin-gothic-urw, sans-serif;
    text-align: center;
    font-weight: 700;
}